/* Reset some basic elements for a clean look */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

ul {
    margin-left: 1em; /* This gives space to show bullet points */
    list-style-type: disc; /* This ensures the disc type bullet points are shown */
}

/* Set a font family for the entire body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #eee;
    line-height: 1.6;
    padding-left: 20px; /* Add padding to the left of the body to ensure space for bullet points */
}

.resume-container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 10px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

.left-column {
    width: 200px;
    background: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; /* Center image vertically */
    flex-direction: column; /* Stack flex items vertically */
}

.right-column {
    flex-grow: 1;
    padding: 20px;
}



.profile-image {
    border-radius: 10px; /* Rounds the corners of the image */
    width: 150px; /* Example fixed width */
    height: auto; /* Auto height to maintain aspect ratio */
}


h1, h2, h3 {
    color: #333;
}

h1 {
    margin-bottom: 0.5em;
}

h2 {
    margin-top: 1em;
    margin-bottom: 0.3em;
}

ul {
    list-style-type: none;
}

ul li {
    padding-left: 1em;
    text-indent: -1em;
}

ul li:not(:last-child) {
    margin-bottom: 0.25em;
}

@media (max-width: 768px) {
    .resume-container {
        flex-direction: column;
    }

    .left-column, .right-column {
        width: auto; /* Full width on small screens */
    }

    .left-column {
        padding-bottom: 1em;
    }
}
